<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% load custom_tags %}

<!-- Название у нас будет News -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводими Новости -->
{% block content %}
   <h1>Новости!</h1>
    <h3>{% current_time '%d %b %Y' %}</h3>

   <!--<h3>"{{ postAll|length }}" публикации</h3>-->
   <!-- Выводим Новости, только если они есть с помощью тега if -->
   <hr>
   {% if postAll %}
       <table> <!-- Начинаем описывать таблицу -->

           <tr> <!-- Добавляем строку -->

               <td> <!-- Добавляем ячейку в строку -->
                   <h2>Заголовок</h2>
               </td>
               <td> <!-- Добавляем ещё одну ячейку в строку и так далее -->
                   <h2>Дата публикации</h2>
               </td>
               <td>
                   <h2>Описание</h2>
               </td>
           </tr> <!-- Не забываем закрыть HTML-тег строки -->
           <!-- Для каждого товара будете генерироваться новая строчка,

           т.е. новый HTML код, который указан в теле цикла.
           При этом сам цикл работает точно так же, как и в Python.
           post — переменная цикла, т.е. наша Новость полученная из списка -->
           {% for post in postAll %}
           <tr>
               <!-- Не забываем, что переменные в шаблоне ничем не отличаются

                от переменных в Python. Здесь также можно получать доступ к
                полям объекта модели. Например, здесь мы выводим имя,
                в следующем столбце описание, и т.д.  -->
               <td>
                  <hr> <a href="{% url 'post_detail' post.id %}">{{ post.title|title }}</a>
               </td>
               <td>{{ post.dateCreation|date:'d M Y' }}</td>
               <td>{{ post.text|truncatewords:20 }}</td> <!-- Добавим специальный фильтр truncatewords,
                чтобы ограничить количество слов до 20.
                Все остальные слова превратятся в многоточие. -->
           </tr>
           {% endfor %}
       </table> <!-- ... и таблицы -->
   {% else %}
       <!-- Если Новостей нет, говорим, что Новостей нет ;) -->
       <h2>Новостей нет!</h2>
   {% endif %}

  {# Добавляем пагинацию на страницу #}

  {% if is_paginated %}

    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
<br>
{% endif %}

{% endblock content %}